.container{
  background-image: url("https://i.ibb.co/JdYcvZ5/Group-48096419.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0%;
  background-color: #f5f4f8;
}
@media (min-width:2000px){
  .container{
  background-image: url("https://i.ibb.co/JdYcvZ5/Group-48096419.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4f8;
}
.middle-section{
  gap: 116px !important;
}
.third-section{
  gap: 180px !important;
 }
}

@media (max-width:450px){
  .container{
  background-image: url("https://i.ibb.co/JdYcvZ5/Group-48096419.png");
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0%;
  background-color: #f5f4f8;
}
}
@media (max-width:800px){.container{
  background-image: url("https://i.ibb.co/JdYcvZ5/Group-48096419.png");
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0%;
  background-color: #f5f4f8;
}
}
.hero-section{
  display: flex;
  background-image: url(https://lilypads.s3.us-east-2.amazonaws.com/images/cover/hero-bg.png);
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 16.5rem;
    position: relative;
    padding-top: 5%;
    padding-left: 10%;
    height: 900px;
  }
  .hero-section-mobile{
    display: none;
  }
  .image-section{
    display: none;
  }
  .footer-list-mobile{
    display: none;
  }

  @media screen and (max-width: 600px) {
    .hero-section-mobile{
      text-align: left !important;
    }
    .three-number{
      justify-content: left !important;
    }
    .middle-section{
      text-align: left !important;
    }
    .third-section{
      text-align: left !important;
    }
    .icon-box{
      justify-content: left !important;
     }

  }

  @media screen and (max-width: 900px) {
    .middle-section{
      display: block !important;
      text-align: center;
    }
    .third-section{
      display: block !important;
      padding: 20px !important;
      text-align: center;
    }
   
    .footer-list{
      display: none !important;
     }
     .footer-list1{
      display: none !important;
     }
  
      .footer-list-mobile{
        display: block !important;
      }
      .footer-heading-mobile{
        display: flex !important;
      }
      .footer-head-mobile{
        display: block !important;
      }
      .footer-head-mobile1{
        color: #FFF;
      font-size: 12px;
      font-family: "Urbanist";
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.096px;
      padding-bottom: 1em;
      padding-left: 10em;
      }
     .footer-head-mobile11{
      color: #FFF;
      font-size: 12px;
      font-family: "Urbanist";
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.096px;
      padding-bottom: 1em;
      padding-left: 11.5em;
      }
       .footer-heading1{
        padding-top: 2em !important;
       }
  
      .footer-heading2{
        margin-top: 2em !important;
        padding-top: 0 !important;
      }
      .footer-heading{
        margin-top: 5% !important;
      }
    
      footer{
        display: block !important;
      }
      .footer-subscribe1{
        display: block !important;
      }
      .footer-content-mobile1{
        color: #FFF;
      font-size: 12px;
      font-family: "Urbanist";
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.096px;
      opacity: 0.6;
      padding-bottom: 1em;
      padding-left: 11.5em; 
      }
      .footer-content-mobile{
        color: #FFF;
      font-size: 12px;
      font-family: "Urbanist";
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.096px;
      opacity: 0.6;
      padding-bottom: 1em;
      padding-left: 10em;
      }
      .footer-subscribe .form-control{
        width: 250px;
        margin-bottom: 10px;
      }
  }

  @media screen and (max-width: 1100px) {
    .hero-section{
      display: none;
    } 
    .image-section{
      display: flex;
      padding-bottom: 40px !important;
      justify-content: center;
    }

  .btnclass{
    display: flex;
    justify-content: center;
  }    
  
   .hero-section-mobile{
      display: block;
      padding: 20px;
      text-align: center;
}
    .headmobile{
      color: #2F3130;
font-family: "DM Serif Display";
font-size: 30px;
font-style: normal;
font-weight: 400;
margin-block-end: 0;
margin-block-start: 0;
    }
    .real1{
      color: #9E2349;
    font-family: "DM Serif Display";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    } 
    .three-number{
      display: flex;
      justify-content: center;
    }
    
.icon-box{
 justify-content: center;
}

    .img-section{
      width: 350px;
      padding-bottom: 20px;
    }
    .btn{
      justify-content: center !important;
      display: flex !important;
    }
    .middle-section{
      padding-right: 0% !important;
    }
    .third-section{
      padding: 20px !important;
    }
    .icon-list{
      margin-left: 0% !important;
    }
    .middle-section{
      padding: 20px !important;
      
    }
    h3{
      font-size: 24px !important;
      margin-block-start: 0em !important;
    }
    h5{
      font-size: 12px !important;
    }
    h6{
      font-size: 30px !important;
    }
    .icon-list2{
      margin-left: 0% !important;
    }
  
    .btn.btn-dark{
      font-size: 12px !important;
    }
    h2{
      font-size: 16px !important;
    }
    .social-list{
      margin-bottom: 2rem !important;
    }
    
  }
   
  .count{
    margin-left: 1em;;
  }

  .middle-section{
    display: flex;
    background-color: transparent;
      background-position-x: right;
      background-size: cover;
      overflow: hidden;
      padding-top: 16.5rem;
      position: relative;
      padding-top: 5%;
      padding-left: 8%;
      padding-right: 8%;
      gap: 30px;
      justify-content: center;
      
  }

  .third-section{
    display: flex;
    background-color:transparent;
      background-position-x: right;
      background-size: cover;
      overflow: hidden;
      padding-top: 16.5rem;
      position: relative;
      padding-top: 5%;
      padding-left: 8%;
      padding-right: 8%;
      padding-bottom: 5%;
      gap: 35px;
      justify-content: center;
  }
  
h1{
  color: #2F3130;
font-family: "DM Serif Display";
font-size: 71px;
font-style: normal;
font-weight: 400;
margin-block-end: 0;
margin-block-start: 0;

}
.real{
  color: #9E2349;
font-family: "DM Serif Display";
font-size: 71px;
font-style: normal;
font-weight: 400;
}
p{
  color: #2F3130;
font-family: "lexend";
font-size: 16px;
font-style: normal;
font-weight: 500;
opacity: 0.5;
}
.btn{
  color: #FFF;
text-align: center;
font-family: "Lexend";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 20px;
border: none;
border-color: #7D59C3;
background: #7D59C3;
box-shadow: 10px 10px 30px 0px rgba(125, 89, 195, 0.20); 
padding: 20px 40px;
}
h4{
  margin-block-end: 0;
  margin-block-start: 0;
  color: #9E2349;
font-family: "Lexend";
font-size: 16px;
font-style: normal;
font-weight: 600;
margin-top: 10%;
}
.number{
  display: flex;
  
}
h3{
  margin-block-end: 0;
  margin-block-start: 2em;
  color: #7C5AC7;
font-family: "Lexend";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h5{
  margin-block-end: 0;
  margin-block-start: 0;
  color: #2F3130;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.deals{
  margin-left: 2em;
}
.Investors{
  margin-left: 2em;
}
.number2{
  margin-left: 1em;;
}

.hero-img-container {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  height: 80%;
  left: 55%;
  padding-bottom: 6rem;
  position: absolute;
  width: 50%;
  z-index: 1;
}
.hero-inner-img {
  -webkit-filter: drop-shadow(10px 10px 50px #00000026);
  filter: drop-shadow(10px 10px 50px #00000026);
  left: -10%;
  position: absolute;
  top: 35%;
  z-index: 1;
}
.phone {
  margin-right: 3rem !important;
}
h6{
  color: #2F3130;
font-family: "DM Serif Display";
font-size: 36px;
font-style: normal;
font-weight: 400;
margin-block-end: 0;
margin-block-start: 0;
}
.icon-list{
margin-left: 5%;
margin-top: 2%;
}
.icon-list1{
  margin-top: 2%;
  }

  .icon-list2{
    margin-left: 6%;
    margin-top: 2%;
    } 

.icon-box{
  display: flex;
  align-items: center;
}
.icon-heading{
  color: #2F3130;
font-family: "Lexend";
font-size: 18px;
font-style: normal;
font-weight: 600;
}
.icon-content{
  color: #2F3130;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 400;
}


footer {
  background: #202221;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}
.footer-subscribe1 {
  margin-bottom: 2rem;
}
.footer-subscribe{
  display: flex;
}

.footer-subscribe .form-control {
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, .3);
  border-radius: 15px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  height: 55px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.btn.btn-dark {
  background: #2e302f;
  border-color: #2e302f;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, .15);
}


h2{
  margin-block-end: 0;
  margin-block-start: 0;
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 800;
letter-spacing: 0.192px;
margin-bottom: 5%;
}
.social-list {
  display: flex
;
  
  margin-top: 2rem;
}
.social-list a {
  align-items: center;
  background-color: #FFF;
  border-radius: 50%;
  color: #7C5AC7;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  margin-right: 15px;
  width: 50px;
}
.footer-heading{
  color: #FFF;
font-size: 12px;
font-family: "Urbanist";
font-style: normal;
font-weight: 600;
letter-spacing: 0.096px;
padding-bottom: 1em;
margin-top: 50%;
}
.footer-heading1{
  color: #FFF;
font-size: 12px;
font-family: "Urbanist";
font-style: normal;
font-weight: 600;
letter-spacing: 0.096px;
padding-bottom: 1em;
padding-top: 1em;
}
.footer-heading2{
  color: #FFF;
font-size: 12px;
font-family: "Urbanist";
font-style: normal;
font-weight: 600;
letter-spacing: 0.096px;
padding-bottom: 1em;
padding-top: 3em;
margin-top: 8em;
}
.footer-content{
  color: #FFF;
  font-size: 12px;
  font-family: "Urbanist"; 
font-style: normal;
font-weight: 500;
letter-spacing: 0.096px;
opacity: 0.6;
padding-bottom: 1em;
}
.footer-list{
  display: block;
  margin-left: 10%;
}
.footer-list1{
  display: block;
  margin-left: 5%;
}
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 1rem;
  margin-top: 0.3125rem;
  border-radius: 15px;
  width: 100%;
  background-color: transparent;
    border-style: solid;
    border-color: #434443;
    border-width: 1px;
    color: #FFF;
}
input[type="submit"] {
  background-color: #2E302F;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 1rem 0.9375rem;
  margin-top: -13%;
  margin-left: 52.2%;
  border-radius: 15px;
}


.section {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  justify-content: center !important;
}

.navbar > .section {
    display: flex;
    min-height: 3.25px;
    width: 100%;
    position: absolute;
    margin-top: 2%;
    z-index: 9999;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


.navbar > .section-fluid {
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

.navbar {
  position: realtive;
  z-index: 30;
}

@media screen and (min-width: 992px) {
  .section {
    max-width: 1200px;
    justify-content: center !important;
    
  }
  .navbar {
    min-height: 3.25rem;
  }

  .navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
    position: absolute;
    width: 96%;
  }
  
  .navbar-item, .navbar-link {
    display: flex;
    align-items: center;
  }
}

.navbar-brand {
  display: flex;
  align-items: stretch;
  align-items: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  padding-left: 5%;
  
}

.navbar-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar-start {
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  
}

.navbar-end {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: auto;
  
}

.navbar-burger {
  color: #900d0d;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-item {
  list-style: none;
  display:block;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center !important;
}

.navbar-item img {
  max-height: 1.75rem;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item.is-expanded {
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-item, .navbar-link {
  cursor: pointer;
  color:#7C5AC7;
  display: block;
  line-height: 1.5;
  padding: 0em;
  position: relative;
  left: 20%;
  z-index: 10;
}

.navbar-item .icon:only-child, navbar-link .icon:only-child {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
}
.navbar-link:not(.is-arrowless) {
    padding-right: 2.5em;
}
.navbar-menu li {
  display: inline-block;
  padding-right: 0px;
  font-size: 14px;
  font-family: 'Lexend';
}

.navbar-dropdown {
    display: none;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    font-size: .875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
}

@media screen and (min-width: 992px) {
  .navbar-burger {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .navbar-menu {
    display: none;
  }
  
  .navbar-brand {
    
    min-height: 3.25rem;
  }
}

.bg-is-dark {
  background-color: transparent;
}

.txt-is-white {
  color: #ffffff;
}

.txt-is-link a {
  text-decoration: none;
  color: #000;
}

.txt-is-link a:hover {
  color: #7C5AC7;
}

.txt-is-link a:active {
  color: #7C5AC7;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.button:not(:last-child):not(.is-fullwidth) {
  margin-right: 0.5rem;
}

.button {
  border: 1px solid;
  border-radius: 20px;
  box-shadow: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: all .3s;
}

.button {
  padding: 20px 40px 20px 40px;
  transition: all .3s;
}

.button.is-signup {
  background-color: transparent;
  border-color: #ffff  !important;
  color:#fff;
  font-family: "lexend";
  font-size: 16px;
  font-weight: 600;
}

.button.is-signup:hover {
  background-color: #ffff;
  border-color: #ffff!important;
  color:#7d59c3;
  animation: forwards;
  animation-duration: 0.3ms;
  
}

.button.is-login {
  color: #7d59c3;
  border-color: #fff!important;
  background-color: #ffff;
  font-family: "lexend";
  font-size: 16px;
  font-weight: 600;
}

.button.is-login:hover {
  color: #7d59c3;
  border-color: #ffff !important;
  background-color: transparent;
}
@media screen and (min-width: 2000px) {
  .navbar {
    justify-content: center !important;
  }
}